//WideScreens
@include mediaXL{
  .projects{
      grid-template-columns: repeat(4, 1fr);
  }
}

//Desktops and Laptops
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3, 1fr);
    }
}


//Tablets and small Laptops
@include mediaMd {
    main{
        align-items: center;
        text-align: center;

        .lg-heading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }
    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }
    .menu-branding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait{
            background: url('../img/portrait.jpg');
            background-size: cover;
            width: 150px;
            height: 160px;
        }
    }
    .about-info {
        grid-template-areas: 'bioimage'
                              'bio'
                              'bio';
        grid-template-columns: 1fr;                      
    }
    .porjects{
        grid-template-columns: repeat(2, 1fr);
    }
}


//SmartPhones
@include mediaSm{
    main#home h1{
       margin-top: 30vh;
    }
    main#home{
        margin: 0 auto;
    }
    //About Me pages
    main#about h1{
        margin-top: 10vh;
    }
    main#about{
        margin: 0 auto;
    }
    main > .about-info{
        margin-top: 3rem;
    }
    main > .about-info > .bio-image{
        margin: 2rem auto;
    }
    main > .about-info > .bio{
        margin-top: 0.2rem;
    }
    //Work or projects
    .projects{
        grid-template-columns: 1fr;
    }
}